body {
	background-image: url(../img/bg2.webp);
    background-size: auto;
    background-position: top center;
}
.form-group .row{ margin-bottom:10px;}
.form-group .row:last-child{ margin-bottom:0px;}
